@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/navbar/_Layout.cshtml";
}
<style>
    body {
        background: #eee
    }

    .ratings i {
        font-size: 16px;
        color: red
    }

    .strike-text {
        color: red;
        text-decoration: line-through
    }

    .product-image {
        width: 100%
    }

    .dot {
        height: 7px;
        width: 7px;
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 3px;
        background-color: blue;
        border-radius: 50%;
        display: inline-block
    }

    .spec-1 {
        color: #938787;
        font-size: 15px
    }

    h5 {
        font-weight: 400
    }

    .para {
        font-size: 16px
    }
</style>
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
           
            @foreach (var p in Model)
            {
                <div style="border:1px black solid; margin-top:8px" class="row p-2 bg-white border rounded">
                @foreach(var ph in p.piece.Photos)
                {
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="@Url.Content("~/Images/" + ph.image.Substring(15))"></div>
                        break;
                }
                    <div class="col-md-6 mt-1">
                        <a href="/Piece/Detaille/?id=@p.piece.Id_piece"><h5>@p.piece.Nom_piece</h5></a>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
                        <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
                        <p class="text-justify text-truncate para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                        <button type="button" class="remove-button" data-id="@p.Id" data-url="/Piece/Supp_favoris">Supprimer</button>
                    </div>
                   

                </div>
            }
        </div>
    </div>
</div>
<script>
                $(document).ready(function () {
                   $('.remove-button').click(function () {
                        var pieceId = $(this).data('id');
                        var url = $(this).data('url');
                        $.ajax({
                            url: url,
                            type: 'GET',
                            data: {
                                id: pieceId,

                            },
                            success: function (response) {
                                if (response.success) {
                                    alert('Pièce est supprimer de votre favoris!');
                                    location.reload();
                                } else if (response.redirectUrl) {
                                    window.location.href = response.redirectUrl;
                                } else {
                                    alert('Erreur.');
                                }
                            },
                            error: function () {
                                alert('Erreur de communication avec le serveur.');
                            }
                        });
                    });
                });
            </script>

