@model Vendre_pieces_auto.Models.Tabels.Piece;
@{
    Layout = Layout = "~/Views/navbar/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Ajouter_Piece.css">
    <title>Document</title>
</head>
<body>
        <div class="piece">
        <form asp-controller="Piece" asp-action="Ajouter_piece" method="post" enctype="multipart/form-data" >
            <label>Nom : </label>
            <input asp-for="Nom_piece" type="text" name="nom_piece" placeholder="Nom de piece" />
            <label>Type : </label>
            <select asp-for="Type_name">
                    <option value="Moteur" >Moteur</option>
                    <option value="Échappement" >Échappement</option>
                    <option value="Train roulant" >Train roulant</option>
                    <option value="Éclairage" >Éclairage</option>
                    <option value="Climatisation" >Climatisation</option>
                    <option value="Chauffage/ventilation" >Chauffage/ventilation</option>
                    <option value="Freinage" >Freinage</option>
                    <option value="Direction" >Direction</option>
                    <option value="Carrosserie" >Carrosserie</option>
            </select>
            <label>Ajouter des images : </label>
            <input type="file" id="image" name="image" asp-for="image" multiple>
            
            <label>Quantite : </label>
            <input asp-for="Quantite_stock" name="Quantite_stock" type="number" />
            <input type="submit" value="Valider" />
        </form>
        </div>

    </div>

</body>
</html>
