@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>

    <iframe style="position: fixed; top:0; overflow: hidden;"  src="../navbar/Navbar.cshtml" width="100%" height="50px" frameborder="0"></iframe>
    <div class="login_frame">
        <label for="">Email : </label>
        <input type="text" name="email" placeholder="youremail@gmail.com">
        <label>Password : </label>
        <input type="text" name="password" placeholder="yourpassword">
        <input type="submit" value="Login">
    </div>
</body>
</html>
