@{
    Layout = "~/Views/navbar/_Layout.cshtml"; //utiliser la navbar qui se trouve dans "Views/navbar/Navbar.cshtml a travers _Layout.cshtml
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/InterfaceUser.css">
    <title>Document</title>
</head>

<body class="body">
        
    @if (User.Identity.IsAuthenticated)//pour savoir est ce que l'utilisateur est connecter ou non "User.Identity.IsAuthenticated" return true si l'utilisateur est connecter et flase si non
    {
            <span onclick="openNav()"><img class="profile" src="~/Images/Logo.png" alt="profile"></span>
            //afficher l'icone de profile sauf pour un utlisateur connecter

    }
    <span class="categorie" onclick="afficherpop()"><p>toutes les categories -></p></span>
    <a class="ajouter_piece" href=""> + Ajoutez une piece</a>
    <div class="pieces">
        
        <div class="popbackground">
            <div class="pop">
                <a href="">Moteur</a>
                <a href="">Échappement</a>
                <a href="">Train roulant</a>
                <a href="">Éclairage</a>
                <a href="">Climatisation</a>
                <a href="">Chauffage/ventilation</a>
                <a href="">Freinage</a>
                <a href="">Direction</a>
                <a href="">Carrosserie</a>
            </div>
        </div>
        <div class="piece">
            <img class="profile" src="~/Images/Logo.png" alt="profile">
            <p>Porte</p>
            <input type="submit" value="Buy Now">
            <input type="submit" value="More details">
        </div>
        <div class="piece">
            <img class="profile" src="~/Images/Logo.png" alt="profile">
            <p>Porte</p>
            <input type="submit" value="Buy Now">
            <input type="submit" value="More details">
        </div>
        <div class="piece">
            <img class="profile" src="~/Images/Logo.png" alt="profile">
            <p>Rouleurs</p>
            <input type="submit" value="Buy Now">
            <input type="submit" value="More details">
        </div>
        <div class="piece">
            <img class="profile" src="~/Images/Logo.png" alt="profile">
            <p>Boite a vitesse</p>
            <input type="submit" value="Buy Now" value="More details">
            <input type="submit" value="More details">
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Profile</a>
            <a href="#">Pagne</a>
            <a href="#">Historique d'achats</a>
            <a href="#">Messages</a>
            <a href="">Favorie</a>
            <a asp-controller="Autho" asp-action="Logout" >Logout</a>
        </div>

        <script src="~/js/InterfaceUser.js"></script>
</body>
</html>
