@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/navbar/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>




    </style>
</head>
<body>

    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="@Model.picture"><span class="font-weight-bold"></span><span class="text-black-50">@Model.email</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                    <form action="/api/user/metadata" method="post">
                   
                <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Nom</label><input type="text" name="Nom" class="form-control" placeholder="first name" ></div>
                        <div class="col-md-6"><label class="labels">Prenom</label><input type="text" name="Prenom" class="form-control" value="" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                <div class="col-md-12"><label class="labels">Adresse</label><input type="text" name="Adresse" class="form-control" placeholder="Ton Adresse" ></div>
                <div class="col-md-12"><label class="labels">Telephone</label><input type="text" name="Tele" class="form-control" placeholder="Ton telephone"></div>
                    
                </div>

                        <div style="margin-top:20px" class="mt-5 text-center"><input type="submit" class="btn btn-primary profile-button" value="Save Profile" /></div>
              </form>
            </div>
             
        </div>
        
    </div>
</div>
</div>
</div>



    <script>
        $(document).ready(function () {
            $('#updateMetadataForm').submit(function (e) {
                e.preventDefault()
                var nom = $(this).find("input[name='Nom']").val();
                var prenom = $(this).find("input[name='Prenom']").val();
                var adresse = $(this).find("input[name='Adresse']").val();
                var tele = $(this).find("input[name='Tele']").val();
                var url = $(this).data('url');
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: JSON.stringify({
                        nom : nom,
                        prenom : prenom,
                        adresse: adresse,
                        tele : tele
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function () {
                        alert('Erreur de communication avec le serveur1.');
                    }
                });
            });
        });
    </script>

</body>
</html>
